@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@tailwind base;
@import "./reset.css";
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff0000;
  --color-secondary: #828282;
  --color-inactive: #c0c0c0;
  --color-dark: #2c2c2c;

  /* menu styles */
  --context-menu-background-color: #eeeeef;
  --context-menu-border-color: #192230;
  --context-menu-border-radius: 0.5rem;
  --context-menu-border-size: 1px;
  --context-menu-filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.5));
  --context-menu-font-family: Arial, Helvetica, sans-serif;
  --context-menu-padding: 0rem 0;
  --context-menu-transition-duration: 250ms;
  --context-menu-z-index: 25;

  /* menu item styles */
  --context-menu-item-background-color-disabled: #2a3343;
  --context-menu-item-background-color-hover: #64cdaa;
  --context-menu-item-background-color-focus: #64cdaa;
  --context-menu-item-color: #000000;
  --context-menu-item-color-disabled: #b0c0d784;
  --context-menu-item-color-hover: #ffffff;
  --context-menu-item-color-focus: #ffffff;
  --context-menu-item-font-size: 12px;
  --context-menu-item-height: 1.5rem;
  --context-menu-item-padding: 0 0.5rem;

  /* category styles */
  --context-menu-category-color: #d2e1f9a6;
  --context-menu-category-font-size: 14px;
  --context-menu-category-height: 1rem;
  --context-menu-category-padding: 0 0.5rem;

  /* divider styles */
  --context-menu-divider-color: #39414d;
  --context-menu-divider-margin: 0.25rem 0;
  --context-menu-divider-size: 1px;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 2px; /* Adjust the width to your liking */
  height: 6px;
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #555; /* Change the background color */
  border-radius: 6px; /* Add rounded corners */
}

/* Customize the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
  background: #888; /* Change the background color on hover */
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; /* Change the thumb color on hover */
}

/* Customize the scrollbar button (the buttons at the top and bottom) */
::-webkit-scrollbar-button {
  display: none; /* You can hide these buttons */
}

.rbc-now{
  font-weight: bold;
  color: #5390f1
}

.rbc-event{
  background-color: transparent !important;
  color: #000000 !important;
  padding: 0 !important;
}